@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: "Prompt", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/images/bg.jpg);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9E9E9E; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6E6E6E; 
}

.container {
  width: 90%;
  height: 90vh;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.p40 {
  padding: 40px;
}

.title {
  font-size: 37px;
  color: #383838;
  font-weight: 600;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 100px);
  position: relative;
}

.input {
  height: 60px;
  color: #4e4e4e;
  border: 3px solid lightgray;
  border-radius: 10px;
  font-size: 34px;
  text-align: center;
  margin-top: 30px;
}

.input:focus {
  outline: none;
}

.btn {
  color: #ffffff;
  background-image: radial-gradient(ellipse farthest-corner at top left, #c41417 0%, #b31315 100%);
  width: max-content;
  min-width: 130px !important;
  font-family: "Prompt", sans-serif !important;
  font-size: 24px !important;
  border-radius: 8px !important;
  transition: 0.3s !important;
}

.btn:Hover {
  transform: scale(1.1);
}